{% extends "base.html" %}

{% block titulo %} Registrar usuario {% endblock %}

{% block contenido_principal %}

<div class="container">
    <h2>Usuarios</h2>
    <form class="navbar-form" action="/usuarios">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
                   placeholder="Nombre del usuario a buscar">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover" id="tableUsers">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellidos}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        {% if user.isAlreadyFriend() == false && user.didReceiveRequestFromLogged() == false %}
                            <div id="friendRequestTableDiv{{user._id.toString()}}">
                                {% if user.didReceiveRequestFromLogged() == false && usuarioSessionObj.didReceiveRequestFromOther(user) == false%}
                                    <div>
                                        <button type="button" id="sendRequestButton{{user._id.toString()}}"
                                                class="btn btn-info">Enviar Petición</button>
                                        <script>
                                            /*<![CDATA[*/
                                            $( "#sendRequestButton{{user._id.toString()}}" ).click(function() {
                                                $.get( "/user/{{user._id.toString()}}/send", function( data ) {
                                                    $("#sendRequestButton{{user._id.toString()}}").remove();
                                                    $("#friendRequestTableDiv{{user._id.toString()}}").append("<div><p>Petición de amistad ya enviada o recibida.</p></div>");
                                                });
                                            });
                                            /*]]>*/
                                        </script>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if user.didReceiveRequestFromLogged() == true || usuarioSessionObj.didReceiveRequestFromOther(user) == true %}
                            <div>
                                <p>Petición de amistad ya enviada o recibida.</p>
                            </div>
                        {% endif %}
                        {% if user.isAlreadyFriend() == true %}
                            <div>
                                <p>Ya es amigo del usuario.</p>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            {% for pagina in paginas %}
            <li class="page-item" id="pi-{{pagina}}">
                <a class="page-link" href="/usuarios?pg={{pagina}}">{{pagina}}</a>
            </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{actual}}").addClass("active");
            </script>
        </ul>
    </div>
</div>
{% endblock %}